{% extends 'base.html' %}

{% block content %}
    <div class="success-box">
    <p style="color: azure; font-size: 32px;">HALLO <b>{{user.username}},</b> Salam Entrepreneur MUDA!!</p>
    <div class="container">
    <form method="POST" action="/logout/">
        {% csrf_token %}
        <input class="btn1" type="submit" value="Logout">
    </form>
    </div>
    </div>
{% endblock content %}
